<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{error}}</title>
</head>
<body background={{ url_for('static', filename='img/error503.png')}}>
    <div class="container width-9 high-8">
        <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="navbar-brand" href="{{url_for('ini')}}"><img src="../static/img/logo.png" alt="..."  width="50" height="50" /></a>
        </p>
    </div> 
</body>
</html>