{% extends "base.html"%}
{% block title %}A&D Tienda de Ropa{% endblock %}

{% block content %}
<section class="page-section bg-light" id="team">
    <div class="container">
        <div class="text-center py-3">
            <h2 class="section-heading text-uppercase">Propietarios</h2>
            <h3 class="section-subheading text-muted">Nosotros nos encargamos de brindar respaldo a tu compra.</h3>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/persona1.png" alt="..." />
                    <h4>Diana Gomez</h4>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/dianacarolina.gomezmartinez.7" aria-label="Diana Petersen Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/dianagomezz_99?igshid=Yzg5MTU1MDY=" aria-label="Diana Petersen LinkedIn Profile"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Diana Petersen Twitter Profile"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="team-member">
                    <img class="mx-auto rounded-circle" src="../static/img/persona2.png" alt="..." />
                    <h4>Alejandro Guerrero</h4>
                    <br>
                    <a class="btn btn-dark btn-social mx-2" href="https://www.facebook.com/profile.php?id=100001986596042" aria-label="Larry Parker Facebook Profile"><i class="fab fa-facebook-f"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="https://instagram.com/a_guerrero.x?igshid=YmMyMTA2M2Y=" aria-label="Larry Parker LinkedIn Profile"><i class="fab fa-instagram"></i></a>
                    <a class="btn btn-dark btn-social mx-2" href="#!" aria-label="Larry Parker Twitter Profile"><i class="fab fa-twitter"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
